.News {
    height: 525px;
    margin: 50px 48px 50px 48px;
    border-radius: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #282626;
}

.news__wrapper {
    overflow-y: auto;
    height: 425px;
    width: 100%;
    margin: 0 48px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: -10px -10px 10px rgba(0, 0, 0, 0.25), 10px 10px 10px rgba(0, 0, 0, 0.25);
}